<!DOCTYPE html>
<html>
  <head> </head>
  <body style="font-family: Arial; font-size: 14px">
    <div>
      <p>Click here to <a href="<%=data.link%>">Reset your password</a>.</p>
    </div>
  </body>
</html>
